# Copyright (c) 2022 Centre Tecnologic de Telecomunicacions de Catalunya (CTTC)
#
# SPDX-License-Identifier: GPL-2.0-only

*.dia~
source/figures/EpcEnbApplication-RecvFromS1uSocket-packet.eps
source/figures/entities.eps
source/figures/LtePdcp-DoTransmitPdcpSdu-packet.eps
source/figures/LteRlcUm-DoNotifyTxOpportunity-fragmentation.eps
source/figures/LteRlcUm-DoTransmitPdcpPdu-packet.eps
source/figures/nr-gnb.eps
source/figures/NrGnbMac-DoTransmitPdu-packet.eps
source/figures/nr-ue.eps
source/figures/sequence-diagram-control-plane.eps
source/figures/sequence-diagram-data-plane.eps
source/figures/sequence-diagram-E2E.eps
source/figures/EpcEnbApplication-RecvFromS1uSocket-packet.pdf
source/figures/entities.pdf
source/figures/LtePdcp-DoTransmitPdcpSdu-packet.pdf
source/figures/LteRlcUm-DoNotifyTxOpportunity-fragmentation.pdf
source/figures/LteRlcUm-DoTransmitPdcpPdu-packet.pdf
source/figures/nr-gnb.pdf
source/figures/NrGnbMac-DoTransmitPdu-packet.pdf
source/figures/nr-ue.pdf
source/figures/sequence-diagram-control-plane.pdf
source/figures/sequence-diagram-data-plane.pdf
source/figures/sequence-diagram-E2E.pdf
source/figures/EpcEnbApplication-RecvFromS1uSocket-packet.png
source/figures/entities.png
source/figures/LtePdcp-DoTransmitPdcpSdu-packet.png
source/figures/LteRlcUm-DoNotifyTxOpportunity-fragmentation.png
source/figures/LteRlcUm-DoTransmitPdcpPdu-packet.png
source/figures/nr-gnb.png
source/figures/NrGnbMac-DoTransmitPdu-packet.png
source/figures/nr-ue.png
source/figures/sequence-diagram-control-plane.png
source/figures/sequence-diagram-data-plane.png
source/figures/sequence-diagram-E2E.png

