# Copyright (c) 2023 Centre Tecnologic de Telecomunicacions de Catalunya (CTTC)
#
# SPDX-License-Identifier: GPL-2.0-only

* text eol=lf
*.jpg text=auto
*.png text=auto
*.pdf text=auto
*.dia text=auto
