# Copyright (c) 2022 Centre Tecnologic de Telecomunicacions de Catalunya (CTTC)
#
# SPDX-License-Identifier: GPL-2.0-only

sim-campaigns
*.orig
doc/build
doc/introspected-doxygen.h
public/
tutorial/build
.idea
.gitlab-ci-local
